<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>water-web-mark | Demo</title>
</head>
<body>
  <h1>Demo Sayfası: Metin Filigranlar</h1>
  <p><u>Bu demo sayfasındaki görsellerin URL adresleri elle değiştirildi. Görsellerde farklı konum ve saydamlıkta metin filigranlar bulunmakta.</u></p>
  <p>Filigran demo sayfaları:</p>
  <ul>
    <li><a href="{{ url_for('demo_page', page='no-watermark') }}">Filigran Yok</a></li>
    <li><a href="{{ url_for('demo_page', page='text-watermark') }}">Metin Filigranlar</a></li>
    <li><a href="{{ url_for('demo_page', page='image-watermark') }}">Görsel Filigranlar</a></li>
    <li><a href="{{ url_for('demo_page', page='javascript-code') }}">Javascript Kodu Demosu</a></li>
  </ul>
  <p>Ex excepturi et deserunt quidem consequatur amet. Magnam distinctio et veniam tempora explicabo reiciendis asperiores. Quibusdam cupiditate placeat dolore iure. Architecto et dolor voluptatem sint magnam sunt. Dolores dolor et culpa corporis delectus. Quia non deleniti quis sed quia illum. Est consectetur dolore voluptate laboriosam voluptatibus omnis quasi ipsam. Alias recusandae doloribus illum in natus et harum tempora.</p>
  <p style="text-align:center">
    {% set image1 = url_for('watermark_text', type_path='text', file_name='image1.png', url='https://picsum.photos/200/200', content='kucuk-gorsel', alpha='0.7', _external=True) %}
    <img src="{{ image1 }}" /><br>
    <code>src="{{ image1|unquote }}"</code>
  <p>
  <p>Et voluptatibus maiores iusto et. Occaecati minus debitis dolorem odit accusamus quo. Officia illo eius dolor. Mollitia quo repellat et dolorem. Aspernatur amet minus ratione. Eaque molestiae inventore natus. Ut eius soluta quisquam ducimus. Ex deleniti unde et totam numquam. Et quia ipsam possimus aut deserunt veritatis tempore. Provident dolores est ut velit nobis. Voluptas in voluptatum iure et at reprehenderit recusandae.</p>
  <p style="text-align:center">
    {% set image2 = url_for('watermark_text', type_path='text', file_name='image2.png', url='https://picsum.photos/600/400', content='sifre-degil-parola.com', alpha='0.7', position='bottom_right', _external=True) %}
    <img src="{{ image2 }}" /><br>
    <code>src="{{ image2|unquote }}</code>
  <p>
  <p>Eaque dignissimos ea dolor veritatis explicabo molestiae. Enim perspiciatis nobis enim nesciunt accusamus similique sit nulla. In quia deserunt quis fugiat. Ad aperiam est omnis et. Dolorem et neque earum rerum. Voluptates assumenda dolorum et error similique necessitatibus eos. Repudiandae odit id commodi illo et quia eos dolores. Labore amet officiis vitae. Aut placeat sit deserunt autem excepturi ut sunt. Veniam ipsa inventore autem. Est quo est dolores consequuntur inventore nihil enim dolore.</p>
  <p style="text-align:center">
    {% set image3 = url_for('watermark_text', type_path='text', file_name='image3.png', url='https://picsum.photos/1200/180', content='bu-gorsellerin-hepsi-benim-sen-izinsiz-kullanamazsin.net', position='center_left', size_ratio='0.9', _external=True) %}
    <img src="{{ image3 }}" /><br>
    <code>src="{{ image3|unquote }}" </code>
  <p>
  <p>Praesentium reiciendis qui dolor est numquam est. Et harum aliquam tenetur. Eos nam neque iusto exercitationem magni aut. Aliquam et est eum totam a veritatis ex. Dolorem ipsam voluptatem assumenda tempora non et atque tenetur. Sed possimus quisquam consequatur reiciendis explicabo nemo omnis. A facere eos ab occaecati tempore. Soluta excepturi minima asperiores vel magni sequi. Odit impedit rerum nobis autem. Saepe reiciendis inventore sint. Amet fugit vel dignissimos beatae. Sed molestiae et esse.</p>
  <p style="text-align:center">
    {% set image4 = url_for('watermark_text', type_path='text', file_name='image4.png', url='https://picsum.photos/400/700', content='altin.gen.tr', position='top_left', size_ratio='0.5', _external=True) %}
    <img src="{{ image4 }}" /><br>
    <code>src="{{ image4|unquote }}"</code>
  <p>
  <p>Voluptatem quod dolorem aut repellendus. Rerum minus est facere ut qui. Natus quia minus reprehenderit consectetur voluptas neque. Sed maxime iusto esse magnam. Doloribus ea enim adipisci quas eum non. Quibusdam consequuntur dolores ex molestiae aliquam. Odit fugiat sit ut dolores dignissimos iste sed fuga. Laudantium unde maxime blanditiis repellat quia placeat. Aliquam ut magni nihil sed. Velit alias excepturi reiciendis vel quia rerum.</p>
</body>
</html>