<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>water-web-mark</title>
  <style>
    .image {
      display: inline-block;
      max-width: 400px;
      vertical-align: top;
    }
    .sign {
      display: inline-block;
      line-height: 400px;
      vertical-align: top;
      font-size: 40pt;
    }
  </style>
</head>

<body style="text-align: center">
  <h1>Görsellere Filigran Uygulayan Web Uygulaması</h1>
  <h3><a href="https://github.com/thesseyren/water-web-mark" target="_blank">water-web-mark</a></h3>
  <p>
    Görsellerin üstüne saydam yazı/görsel ekleyen bir web uygulamasıdır.<br>
    Görsellerin URL adreslerini (ve bazı ek parametreleri) alır, bunları kullanarak yeni görsel üretir.
  </p>

  <div class="image">
    {% set background = url_for('static', filename='intro.png', _external=True) %}
    <img src="{{ background }}" height="400" /><br>
    <code>src="{{ background|unquote }}"</code>
  </div>
  <div class="sign">+</div>
  <div class="image">
    {% set tux = url_for('static', filename='tux.png', _external=True) %}
    <img src="{{ tux }}" height="400" /><br>
    <code>src="{{ tux|unquote }}"</code>
  </div>
  <div class="sign">=</div>
  <div class="image">
    {% set result = url_for('watermark', type_path="image", file_name="output.png", url=background, content=tux, _external=True) %}
    <img src="{{ result }}" height="400" /><br>
    <code>src="{{ result|unquote }}"</code>
  </div>

  <p>Örnekleri incelemek için <a href="{{ url_for('demo_page', page='no-watermark') }}">demo sayfalarını ziyaret edin.</a></p>
  <p><a href="{{ url_for('documentation') }}">Dokümantasyonu inceleyin.</a>
  <p>Blog sitenizde kullandığınız görsellere <a href="{{ url_for('code_generator') }}">otomatik olarak filigran uygulayın.</a></p>
</body>

</html>