<script>
wwm_images = document.getElementsByTagName("img");
for (var wwm_i = 0; wwm_i < wwm_images.length; wwm_i++) {
  wwm_new_href = encodeURIComponent(wwm_images[wwm_i].src);
  wwm_images[wwm_i].src = "{{ hostname }}{{ endpoint }}/image.png?url=" + wwm_new_href + "&{{ query }}";
}
</script>